<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Streamlit - About</title>
<link rel="shortcut icon" href="/favicon.png"/>
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600,700" rel="stylesheet">
<link rel="stylesheet" href="/css/static.css">
<body>
  <div class="background-ob9si">
    <div>
      <div class="ellipse" style="background-image: url(/images/ellipse-light-green.svg);"></div>
      <div class="ellipse" style="background-image: url(/images/ellipse-light-orange.svg);"></div>
      <div class="ellipse" style="background-image: url(/images/ellipse-light-cyan.svg);"></div>
    </div>
    <div class="body-max-width site-header pb2">
      <div class="cell">
        <a href="/">
          <img alt="Streamlit" class="db" src="/images/streamlit.svg" width="103">
        </a>
      </div>
      <div class="cell"><a href="/about">About</a></div>
      <div class="cell"><a href="/jobs">We’re hiring!</a></div>
    </div>
    <div class="tac-lg my15vh-lg">
      <h1 class="headline-pai4u-lg mxa" style="max-width: 1086px;">Making machine learning engineers more productive</h1>
      <p class="mb0 pb3 mxa" style="max-width: 860px;">Streamlit is company of tinkerers, engineers, and scientists. We believe that machine learning engineers deserve blazingly fast, fun, and interactive tools. Together, we are building the world’s most beautiful tool for machine learning engineers. Welcome to programming 2.0.</p>
    </div>
  </div>
  <main>
  <a name="team"></a>
    <section class="layout-ohwi9 var--ie11 pb2 pt3 region-vaf4a" style="background: #f8f9f9;">
      <div class="mb6-lg mt3-lg">
        <h2 class="h1-lg">Our team</h2>
      </div>
      <div class="mb6-lg mt3-lg" style="align-self: center; flex-basis: 67%; grid-column: span 2;">
        <p class="mb0-lg mb3.5">
          Streamlit was started by senior engineers, business people, and researchers from Google, Google X, and Twitter who have experience building large-scale products and well known open-source projects.
        </p>
      </div>

      <div>
        <p><img alt="Adrien Treuille" src="https://streamlit.io/media/Adrien-Treuille.jpg"></p>
        <h3>Adrien Treuille</h3>
        <p class="mb3.5 text-smaller">Dr. Treuille has been a Zoox VP, Google X project lead, and Computer Science faculty at Carnegie Mellon. He has won numerous scientific awards, including the MIT TR35. Adrien has been featured in the documentaries What Will the Future Be Like by PBS/NOVA, and Lo and Behold by Werner Herzog.</p>
      </div>

      <div>
        <p><img alt="Thiago Teixeira" src="https://streamlit.io/media/Thiago-Teixeira.jpg"></p>
        <h3>Thiago Teixeira</h3>
        <p class="mb3.5 text-smaller">Founder of Hangouts Chat at Google, and former tech lead manager of Hangouts web clients. Former tech lead of an AI project at Google X. He has a Ph.D. from Yale, and his research includes human behavior recognition in sensor networks and building a sensor-fusion middleware for the internet of things.</p>
      </div>

      <div>
        <p><img alt="Amanda Kelly" src="https://streamlit.io/media/Amanda-Kelly.jpg"></p>
        <h3>Amanda Kelly</h3>
        <p class="mb3.5 text-smaller">Amanda has a range of product, operations and business experience spanning autonomous vehicles, NLP, AI, e-commerce and Android. Amanda was Director of Launch Operations at Zoox and before that she led product and operations for a handful of projects at Google X and Google machine learning. She has degrees from Stanford GSB and University of Notre Dame.</p>
      </div>

      <div>
        <p><img alt="Nodira Khoussainova" src="https://streamlit.io/media/Nodira-Khoussainova.jpg"></p>
        <h3>Nodira Khoussainova</h3>
        <p class="mb3.5 text-smaller">Dr. Khoussainova was tech lead of Product Insights & Experimentation at Twitter. She has a Ph.D. from University of Washington, is the author of Lectures on Discrete Mathematics for Computer Science, and graduated from the University of Auckland at age 16.</p>
      </div>

      <div>
        <p><img alt="Armando Atienza" src="https://streamlit.io/media/Armando-Atienza.jpg"></p>
        <h3>Armando Atienza</h3>
        <p class="mb3.5 text-smaller">Backend and Systems engineer with over 15 years of experience working on infrastructure projects at Google, Google X, SpaceX, healthcare.gov, Hillary for America, and as an internal in house consultant for Playground Global.</p>
      </div>

      <div>
        <p><img alt="Tim Conkling" src="https://streamlit.io/media/Tim-Conkling.jpg"></p>
        <h3>Tim Conkling</h3>
        <p class="mb3.5 text-smaller">Tim is an independent game designer and programmer. He was a lead designer and engineer at Three Rings/SEGA and technical director at Gamelab NYC. His most recent project is “Antihero”, an award-winning multiplayer game about running a thieves’ guild in a gas-lit, Dickensian underworld.</p>
      </div>

      <div>
        <p><img alt="You!" src="https://streamlit.io/media/You.jpg"></p>
        <h3>You!</h3>
        <p class="text-smaller">We’re looking for passionate engineers who want to join us in building the future of data science.</p>
        <p><a class="button w100p-sm" href="/jobs">Join the team</a></p>
      </div>
    </section>
    <a name="investors"></a>
    <section class="layout-ohwi9 pb2 pt3 tac-sm">
      <div class="mb6-lg mt3-lg">
        <h2 class="h1-lg">Our investors</h2>
      </div>
      <div class="mb6-lg mt3-lg" style="align-self: center; flex-basis: 67%; grid-column: span 2;">
        <p class="mb0-lg mb3">We are backed by some of the top investors in Silicon Valley.</p>
      </div>

      <div>
        <p><img alt="Anna Patterson" src="https://streamlit.io/media/Anna-Patterson.jpg" style="max-width: 142px;"></p>
        <h3>Anna Patterson</h3>
        <p class="mb3 text-fade text-smaller">VP of AI, Google<br> Partner, Gradient Ventures</p>
      </div>

      <div>
        <p><img alt="James Cham" src="https://streamlit.io/media/James-Cham.jpg" style="max-width: 142px;"></p>
        <h3>James Cham</h3>
        <p class="mb3 text-fade text-smaller">Partner, Bloomberg Beta</p>
      </div>

      <div>
        <p><img alt="Elad Gil" src="https://streamlit.io/media/Elad-Gil.jpg" style="max-width: 142px;"></p>
        <h3>Elad Gil</h3>
        <p class="mb3 text-fade text-smaller">Co-founder, Color Genomics</p>
      </div>

      <div>
        <p><img alt="Jana Messerschmidt" src="https://streamlit.io/media/Jana-Messerschmidt.jpg" style="max-width: 142px;"></p>
        <h3>Jana Messerschmidt</h3>
        <p class="mb3 text-fade text-smaller">Founder, #Angels<br> VP of Global Business Development, Twitter</p>
      </div>

      <div>
        <p><img alt="Daniel Gross" src="https://streamlit.io/media/Daniel-Gross.jpg" style="max-width: 142px;"></p>
        <h3>Daniel Gross</h3>
        <p class="mb3 text-fade text-smaller">Co-founder, Cue<br> Partner, Y Combinator</p>
      </div>

      <div>
        <p><img alt="Solomon Hykes" src="https://streamlit.io/media/Solomon-Hykes.jpg" style="max-width: 142px;"></p>
        <h3>Solomon Hykes</h3>
        <p class="mb3 text-fade text-smaller">Co-founder, Docker</p>
      </div>

      <div>
        <p><img alt="Jake Klamka" src="https://streamlit.io/media/Jake-Klamka.jpg" style="max-width: 142px;"></p>
        <h3>Jake Klamka</h3>
        <p class="mb3 text-fade text-smaller">CEO, Insight Data Science</p>
      </div>
    </section>
  </main>
  <div class="site-footer home">Copyright 2019 Streamlit Inc. &nbsp; • &nbsp; hello@streamlit.io</div>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.slim.min.js"></script>
  <script src="/js/static.js"></script>
</body>
