<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-122023594-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122023594-1');
</script>
<title>Streamlit - Demo</title>
<link rel="shortcut icon" href="/favicon.png"/>
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600,700" rel="stylesheet">
<link rel="stylesheet" href="/css/static.css">
<body class="page-grid">
  <div class="site-header">
    <div class="cell">
      <a href="/">
        <img alt="Streamlit" class="db hide-lg" src="/images/streamlit.svg" width="103">
        <img alt="Streamlit" class="db show-lg" src="/images/streamlit-white.svg" width="103">
      </a>
    </div>
      <div class="cell"><a href="/about">About</a></div>
      <div class="cell"><a href="/jobs">We’re hiring!</a></div>
  </div>
  <div class="background-so9ir-lg">
    <div class="ellipse" style="background-image: url(/images/ellipse-green.svg);"></div>
    <div class="ellipse" style="background-image: url(/images/ellipse-orange.svg);"></div>
    <div class="ellipse" style="background-image: url(/images/ellipse-cyan.svg);"></div>
  </div>
  <main>
    <div class="mb2 ratio-box">
      <div class="content tac video-presentation-chi3x" style="background-image: url(//streamlit.io/media/streamlit_atom_package.gif); background-color: #5c6863;">
        <video controls id="watchDemo" playsinline style="display: none; width: 100%; height: 100%;">
          <source src="//streamlit.io/media/streamlit-demo-v2.mp4" type="video/mp4">
        </video>
        <div class="js--container">
          <p class="headline show-lg">Welcome to live coding.</p>
          <a class="button js--play var--icon var--play" href="#watchDemo">Watch demo</a>
        </div>
      </div>
    </div>
    <div class="layout-she3a">
      <div>
        <h1 class="h1-lg h4">Streamlit is reimagining how data science and machine learning work.</h1>
      </div>
      <div>
        <p>
          Use Streamlit to interact with real-time data visualizations while you write Python.
          With continuous observation of your code execution, you can speedily explore and analyze
          data like never before.
        </p>
        <p class="mb2">Install Streamlit and get started coding:
        <code><em>$</em> pip install streamlit</code> Trouble installing? <a href="mailto:help@streamlit.io">Contact us</a>.</p>
        <p><a href="/secret/docs/">Check our documentation →</a></p>
      </div>
    </div>
  </main>
  <div class="site-footer">Copyright 2019 Streamlit Inc. &nbsp; • &nbsp; hello@streamlit.io</div>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.slim.min.js"></script>
  <script src="/js/static.js"></script>
</body>
</html>
