<header>
  <ul class="contents">
    {{ if .IsHome }}
      <li class="logo">Streamlit</a></li>
    {{ else }}
      <li class="logo"><a href="/">Streamlit</a></li>
    {{ end }}

    {{ $isSecretArea := (hasPrefix .File.Path "secret/") }}
    {{ $currentPage := . }}

    {{ $menu := (cond $isSecretArea .Site.Menus.secret .Site.Menus.main) }}

    {{ range $menu }}
      {{ $isCurrent := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.IsMenuCurrent "secret" .) }}
      {{ $hasCurrent := or ($currentPage.HasMenuCurrent "main" .) ($currentPage.HasMenuCurrent "secret" .) }}

      <li class="{{if or $isCurrent $hasCurrent}}active{{end}}">
        <a href="{{ .URL }}">{{ .Name }}</a>
      </li>
    {{ end }}

  </ul>
</header>
