<!DOCTYPE HTML>
<html class="kind-{{ .Kind }}">
  <head>
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ with .Site.LanguageCode }}<meta http-equiv="content-language" content="{{ . }}" />{{ end }}
    {{ partial "google_verification" . }}
    {{ partial "google_analytics" . }}
    {{ partial "fonts" . }}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}fonts/fonts.css" />

    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/base.css" />
    {{if .IsHome }}
      <link rel="stylesheet" href="{{ .Site.BaseURL }}css/home.css" />
    {{ else }}
      <link rel="stylesheet" href="{{ .Site.BaseURL }}css/pages.css" />
    {{ end }}

    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/syntax.css" />
  </head>

  <body>
    {{ block "header" . }}
      {{ partial "header" . }}
    {{ end }}

    <main>
      {{ block "main" . }}{{ end }}
    </main>

    {{ block "footer" . }}
      {{ partial "footer" . }}
    {{ end }}
  </body>
</html>
