########################################################################
# Python - https://github.com/github/gitignore/blob/master/Python.gitignore
########################################################################
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
.prerelease-version

# Unit test / coverage reports
.coverage
coverage.json
.coverage\.*
.pytest_cache/
.mypy_cache/
test-reports
htmlcov
.hypothesis
.ruff_cache
cffi_bin

# Pyenv / uv Stuff
.python-version
venv
.venv
Pipfile.lock
Pipfile

# Others
.pytype


########################################################################
# OSX - https://github.com/github/gitignore/blob/master/Global/macOS.gitignore
########################################################################
.DS_Store
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

########################################################################
# node - https://github.com/github/gitignore/blob/master/Node.gitignore
########################################################################
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Yarn files
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions

# Dependency directories
node_modules/

# TS Build files
tsconfig.tsbuildinfo

# ESLint
.eslintcache

# Coverage directory used by tools like istanbul
coverage/

########################################################################
# Streamlit
########################################################################
.streamlit/
!e2e_playwright/.streamlit/
lib/streamlit/static
streamlit-storage
# Directory for temporary files (can be used by agents):
work-tmp

# Data Files
**/uber-raw-data-sep14.csv

# Autogenerated Protobufs
lib/streamlit/proto/*_pb2.py
lib/streamlit/proto/*_pb2.pyi
frontend/protobuf/proto.js
frontend/protobuf/proto.d.ts

########################################################################
# JetBrains
########################################################################
.idea

########################################################################
# Playwright
########################################################################
# Playwright test
playwright-report
e2e_playwright/test-results
# Only keep the snapshots in the linux folder
e2e_playwright/__snapshots__/*
!e2e_playwright/__snapshots__/linux

########################################################################
# VSCode
########################################################################
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json

.swc/

# Performance suite output
**/.benchmarks/


########################################################################
# Files during CI runs
########################################################################
protoc-*-linux-x86_64.zip
python_cache_key.md5
