.streamlit-container .image-container {
  display: inline-block;
  margin-right: 10px;
}

.streamlit-container .image-container img {
  border: 1px solid #eee;
}

.streamlit-container .caption {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 5px;
}

/* <div style={{width}} className="image-list-container">
  {imgs.imgs.map((img, indx) => (
    <span key={indx}>
      <img
        style={{width: imgs.width ? imgs.width : undefined}}
        src={`data:image/png;base64,${img.base_64Png}`}
        alt={indx}
      />
      <div class="caption"> {img.caption} </div>
    </span> */
