@keyframes moveUp {
  0% {
    opacity: 0.8;
    transform: translateY(20vh);
  }
  100% {
    opacity: 0;
    transform: translateY(0vh);
  }
}

.withScreencast {
  .countdown {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 40vh;
    color: red;
    font-weight: bolder;
    opacity: 0.8;
    text-shadow: 1px 1px 10px darkgrey;
    transition: opacity 0.3s ease-in-out;

    &.withAnimation {
      animation: moveUp 0.25s;
      animation-delay: 0.75s;
    }
  }
}
