@import "src/assets/css/variables";

.streamlit-container .stFullScreenFrame--expanded {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  z-index: 1000;
  padding: $fullscreen-padding;
  padding-top: $fullscreen-padding-top;
  overflow: auto;
}

.streamlit-container .stFullScreenFrame .stButton-enter {
  position: absolute;
  right: $fullscreen-padding;
  top: $fullscreen-padding;
  z-index: 1;
  display: none;
  width: $fullscreen-button;
  height: $fullscreen-button;
}

.streamlit-container .stFullScreenFrame:hover .stButton-enter {
  display: block;
}

.streamlit-container .stFullScreenFrame--expanded .stButton-exit {
  position: fixed;
  right: $fullscreen-padding;
  top: $fullscreen-padding;
  z-index: 1;
  display: block;
  width: $fullscreen-button;
  height: $fullscreen-button;
}
