@import "src/assets/css/variables";

.reportview-container .element-container {
  .stFullScreenFrame--expanded {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: white;
    z-index: 1000;
    padding: $fullscreen-padding;
    padding-top: $fullscreen-padding-top;
    overflow: auto;
    display: flex; // To avoid extra spaces that lead to scrollbars.

    .overlayBtn {
      top: 0.5rem;
      right: 1rem;
      opacity: 0.5;
    }
  }

  .stFullScreenFrame:hover {
    .overlayBtn {
      opacity: $overlayBtn-opacity-visible;
    }

    .overlayBtn:hover {
      opacity: $overlayBtn-opacity-active;
    }
  }
}

.streamlit-wide {
  .reportview-container .element-container {
    .stFullScreenFrame--expanded {
      .overlayBtn {
        top: 0.5rem;
        right: 1.25rem;
        opacity: 0.5;

        &:active,
        &:focus,
        &:hover {
          opacity: $overlayBtn-opacity-active;
        }
      }
    }
  }
}
