:root {
  --main-bg-color: #ffffff;

  --sidebar-bg: #f3f6f6; /* light-gray: if you change this, change "style_nav_header_background" in conf.py to match */
  --overflow-color: #e5e5e5; /* darker gray */
  --sidefont-color: #808495; /* darkest gray */

  --note-color: #e4f5ff; /* pale blue */
  --note-title: #1c83e1; /* vivid blue */

  --tip-color: #dffde9; /* pale green */
  --tip-title: #21c354; /* vivid green */

  --heading-color: #ff4b4b; /* salmon */
}

body {
  font-family: Graphik, sans-serif;
}

/* make hr 0 width until it can be removed from template */
hr {
  border-top: 0px;
}

/* align text from Documentation with H1 of document */
.wy-side-nav-search {
  padding-bottom: 25px;
}

/* background of content */
.wy-nav-content {
  background: var(--main-bg-color);
  min-height: 100vh;
}

/* overflow color */
.wy-body-for-nav {
  background: var(--overflow-color);
}

/*float search box to right of navbar*/
div[role="search"] {
  float: right;
}

/*style search bar*/
#rtd-search-form > input[type="text"] {
  width: 250px;
  border-radius: 50px;
}

/*make logo smaller*/
.wy-side-nav-search > a img.logo {
  height: 40px;
  position: absolute;
  left: 15px;
}

/* sidebar headings */
.wy-menu-vertical p.caption {
  color: var(--heading-color);
}

/*sidebar background color*/
.wy-nav-side,
.wy-menu-vertical li.current,
.wy-menu-vertical li.toctree-l2.current > a,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
  background: var(--sidebar-bg);
}

/*top-level font color*/
.wy-menu-vertical a,
.wy-side-nav-search > div.version {
  color: var(--sidefont-color);
}

/*borders for hover*/
.wy-menu-vertical li.toctree-l1.current > a,
.wy-menu-vertical li.current a {
  border: none;
}

/*hover/selection color*/
.wy-menu-vertical a:hover,
.wy-menu-vertical li.current a:hover,
.wy-menu.wy-menu-vertical > ul.current > li.toctree-l1.current > a {
  background: var(--sidebar-bg);
}

/* style notes */
.rst-content .note,
.rst-content .note .admonition-title {
  background: var(--note-color);
}
.rst-content .note .admonition-title {
  color: var(--note-title);
}

/* style tip boxes */
.rst-content .tip,
.rst-content .tip .admonition-title {
  background: var(--tip-color);
}
.rst-content .tip .admonition-title {
  color: var(--tip-title);
}
