body {
  font-family: Graphik, sans-serif;
}

/* background of content */
.wy-nav-content {
  background: #ffffff;
}

/* overflow color */
.wy-body-for-nav {
  background: #e5e5e5;
}

/*float search box to right of navbar*/
div[role="search"] {
  float: right;
}

/*style search bar*/
#rtd-search-form > input[type="text"] {
  width: 250px;
  border-radius: 50px;
}

/*make logo smaller*/
.wy-side-nav-search > a img.logo {
  height: 40px;
}

/* sidebar headings */
.wy-menu-vertical p.caption {
  color: #ff4b4b;
}

/*sidebar background color*/
.wy-nav-side,
.wy-menu-vertical li.current,
.wy-menu-vertical li.toctree-l2.current > a,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
  background: #f3f6ff;
}

/*top-level font color*/
.wy-menu-vertical a,
.wy-side-nav-search > div.version {
  color: #808495;
}

/*borders for hover*/
.wy-menu-vertical li.toctree-l1.current > a,
.wy-menu-vertical li.current a {
  border: none;
}

/*hover/selection color*/
.wy-menu-vertical a:hover,
.wy-menu-vertical li.current a:hover {
  background-color: #ffffff;
}

/* style notes */
.rst-content .note,
.rst-content .note .admonition-title {
  background: #e4f5ff;
}
.rst-content .note .admonition-title {
  color: #1c83e1;
}

/* style tip boxes */
.rst-content .tip,
.rst-content .tip .admonition-title {
  background: #dffde9;
}
.rst-content .tip .admonition-title {
  color: #21c354;
}
