@font-face {
  font-family: "Graphik";
  src: url("https://assets.website-files.com/5dc3b47ddc6c0c2a1af74ad0/5dc3c89751595b2217a8a5ca_Graphik-ExtralightItalic.otf")
    format("opentype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Graphik";
  src: url("https://assets.website-files.com/5dc3b47ddc6c0c2a1af74ad0/5dc3c89778cf53849582d272_Graphik-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("https://assets.website-files.com/5dc3b47ddc6c0c2a1af74ad0/5dc3c8986a906d17093257cb_Graphik-Extralight.otf")
    format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("https://assets.website-files.com/5dc3b47ddc6c0c2a1af74ad0/5dc3c897429c1a5134f8705f_Graphik-LightItalic.otf")
    format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Graphik";
  src: url("https://assets.website-files.com/5dc3b47ddc6c0c2a1af74ad0/5dc3c8986a906d2ddc3257cc_Graphik-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("https://assets.website-files.com/5dc3b47ddc6c0c2a1af74ad0/5dc3c898dc6c0c107af7c2ad_Graphik-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("https://assets.website-files.com/5dc3b47ddc6c0c2a1af74ad0/5dc3c8986a906d68f93257ca_Graphik-BoldItalic.otf")
    format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Graphik";
  src: url("https://assets.website-files.com/5dc3b47ddc6c0c2a1af74ad0/5dc3c898429c1a00eef87060_Graphik-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("https://assets.website-files.com/5dc3b47ddc6c0c2a1af74ad0/5dc3c8986a906d7ed13257cd_Graphik-MediumItalic.otf")
    format("opentype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Graphik super";
  src: url("https://assets.website-files.com/5dc3b47ddc6c0c2a1af74ad0/5dc3c89878cf530ecd82d273_Graphik-Super.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("https://assets.website-files.com/5dc3b47ddc6c0c2a1af74ad0/5dc3c898dc6c0c0f07f7c2ae_Graphik-SemiboldItalic.otf")
    format("opentype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Graphik";
  src: url("https://assets.website-files.com/5dc3b47ddc6c0c2a1af74ad0/5dc3c898429c1aa41cf87061_Graphik-Semibold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("https://assets.website-files.com/5dc3b47ddc6c0c2a1af74ad0/5dc3c89878cf536aa782d274_Graphik-Thin.otf")
    format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("https://assets.website-files.com/5dc3b47ddc6c0c2a1af74ad0/5dc3c898429c1aed84f87063_Graphik-RegularItalic.otf")
      format("opentype"),
    url("https://assets.website-files.com/5dc3b47ddc6c0c2a1af74ad0/5dc3c898429c1a44ccf87062_Graphik-SuperItalic.otf")
      format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Graphik";
  src: url("https://assets.website-files.com/5dc3b47ddc6c0c2a1af74ad0/5dc3c8986a906d79de3257d2_Graphik-ThinItalic.otf")
    format("opentype");
  font-weight: 100;
  font-style: italic;
}

:root {
  --main-bg-color: #ffffff;

  --note-color: #e4f5ff; /* pale blue */
  --note-title: #1c83e1; /* vivid blue */

  --sidefont-color: #808495; /*darkest gray */

  --tip-color: #dffde9; /* pale green */
  --tip-title: #21c354; /* vivid green */

  --heading-color: #ff4b4b; /* salmon */

  --st-black: #262730;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input[type="text"],
li {
  font-family: Graphik, sans-serif;
  color: var(--st-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

/*make logo smaller*/
.wy-side-nav-search > a img.logo {
  height: 40px;
  position: absolute;
  left: 15px;
}

/* sidebar headings */
.wy-menu-vertical p.caption {
  color: var(--heading-color);
  font-weight: 500;
}

/*sidebar background color*/
.wy-nav-side,
.wy-menu-vertical li.current,
.wy-menu-vertical li.toctree-l2.current > a,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
  background: var(--sidebar-bg);
}

/*top-level font color*/
.wy-menu-vertical a,
.wy-side-nav-search > div.version {
  color: var(--sidefont-color);
  font-size: 14px;
}

.wy-menu-vertical {
  border-right: 1px solid var(--sidefont-color);
}

/*style search bar*/
#rtd-search-form > input[type="text"] {
  width: 220px;
  border-radius: 50px;
  float: right;
}

/* For small screens, make nav-top black */
.wy-nav-top {
  background: var(--st-black);
}

/*hover/selection color*/
.wy-menu-vertical a:hover,
.wy-menu-vertical li.current a:hover,
.wy-menu.wy-menu-vertical > ul.current > li.toctree-l1.current > a {
  background: var(--sidebar-bg);
  font-weight: 500;
}

/* 960 is where the RTD mobile/responsive theme kicks in to move nav to header */
@media (min-width: 960px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 28px;
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 20px;
    font-weight: 500;
  }

  /* Taken directly from streamlit.io */
  p {
    line-height: 26px;
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: 400;
  }

  /* make hr 0 width until it can be removed from template */
  hr {
    border-top: 0px;
  }

  /* align text from Documentation with H1 of document */
  .wy-side-nav-search {
    padding-bottom: 27px;
  }

  /* First breadcrumb color */
  .wy-breadcrumbs li#firsttier a {
    color: var(--sidefont-color);
  }

  /* background of content */
  .wy-nav-content {
    background: var(--main-bg-color);
    min-height: 100vh;
  }

  /* overflow color */
  .wy-body-for-nav {
    background: var(--main-bg-color);
  }

  /*float search box to right of navbar*/
  div[role="search"] {
    float: right;
  }

  /*borders for hover*/
  .wy-menu-vertical li.toctree-l1.current > a,
  .wy-menu-vertical li.current a {
    border: none;
  }

  /* style notes */
  .rst-content .note,
  .rst-content .note .admonition-title {
    background: var(--note-color);
  }
  .rst-content .note .admonition-title {
    color: var(--note-title);
  }

  /* style tip boxes */
  .rst-content .tip,
  .rst-content .tip .admonition-title {
    background: var(--tip-color);
  }
  .rst-content .tip .admonition-title {
    color: var(--tip-title);
  }

  /* site centering code */
  .wy-body-for-nav {
    text-align: left;
    width: 1100px;
    margin: 0 auto;
  }

  .wy-nav-side {
    position: inherit;
  }

  .wy-grid-for-nav {
    position: absolute;
    width: 100%;
    height: inherit;
  }

  .wy-nav-content-wrap {
    background: var(--main-bg-color);
  }
}
