# Ignore everything by default
*

# Allow specific files
!.gitignore
!hooks.json
!worktrees.json

# Allow specific commands
!commands/
commands/*
!commands/pr-create.md

# Allow specific rules
!rules/
rules/*
!rules/typescript.mdc
!rules/typescript_tests.mdc
!rules/python.mdc
!rules/python_lib.mdc
!rules/python_tests.mdc
!rules/protobuf.mdc
!rules/e2e_playwright.mdc
!rules/overview.mdc
!rules/skills.mdc
!rules/workflows.mdc
!rules/scripts.mdc
!rules/specs.mdc

# Ignore all hooks
hooks/*
# Only track certain hooks so that we don't track a user's local hooks
# You can add more hooks to this list as needed!

# Ignore all skills
skills/*
# Only track certain skills so that we don't track a user's local skills
# You can add more skills to this list as needed!
