# Ignore all commands
commands/*
# Only track certain commands so that we don't track a user's local commands
# You can add more commands to this list as needed!

# Ignore all rules
rules/*
# Only track certain rules so that we don't track a user's local rules
# You can add more rules to this list as needed!
!rules/typescript.mdc
!rules/typescript_tests.mdc
!rules/python.mdc
!rules/python_lib.mdc
!rules/python_tests.mdc
!rules/protobuf.mdc
!rules/e2e_playwright.mdc
!rules/overview.mdc
!rules/make_commands.mdc
!rules/new_feature.mdc
