[run]
omit =
    streamlit/proto/*
    streamlit/hello/*
    streamlit/static/*

[report]
omit =
    streamlit/proto/*
    streamlit/hello/*
    streamlit/static/*
exclude_also =
    if TYPE_CHECKING:
    def dg\(self\)
    raise NotImplementedError
