black==22.6.0
pre-commit
hypothesis>=6.17.4
mypy>=1.4, <1.7
mypy-protobuf>=3.2
parameterized
# Lower protobuf versions cause mypy issues during development builds
protobuf>=3.19, <4
pytest
pytest-cov
requests-mock
# semver 3 renames VersionInfo so temporarily pin until we deal with it
semver<3
setuptools>=65.5.1
testfixtures
twine
wheel
# mypy types
types-click
types-protobuf
types-pytz
types-requests
types-setuptools
types-toml
types-typed-ast
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.15.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
tqdm>=4.66.3 # not directly required, pinned by Snyk to avoid a vulnerability
