pre-commit
# We fix ruff to a version to be in sync with the pre-commit hook:
ruff==0.5
mypy>=1.4, <1.7
mypy-protobuf>=3.2
# semver 3 renames VersionInfo so temporarily pin until we deal with it
semver<3
setuptools>=65.5.1
twine
wheel
pytz
# Used for updating emojis via: scripts/update_emojis.py
emoji

# mypy types
types-click
types-protobuf
types-pytz
types-requests
types-setuptools
types-toml
types-typed-ast
types-cachetools
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
