# Snowflake dependencies:
snowflake-snowpark-python[modin]>=1.17.0
snowflake-connector-python>=3.3.0

# Required for testing the langchain integration
langchain>=0.2.0,<0.4
langchain-community>=0.2.0,<0.4

# Additional dataframe formats for testing:
polars
xarray
dask
ray
duckdb

# Used for testing of st.connection
sqlalchemy[mypy]>=2.0.0

# Used by audio test:
scipy>=1.7.3

# Used to ensure pydantic is supported
# We only guarantee full support for pydantic >= 2.0.0
pydantic>=2.0.0
