[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
boto3 = "*"
botocore = ">=1.13.44"
mypy = "==0.761"
mypy-protobuf = ">=1.17"
parameterized = "*"
pipenv = "*"
pytest = "*"
pytest-cov = "*"
requests-mock = "*"
setuptools = "!=50.0"
testfixtures = "*"
twine = "*"
wheel = "*"
# Doc builder packages:
Sphinx = ">=3.0"
recommonmark = "*"
sphinx-markdown-tables = "*"
sphinx-rtd-theme = "*"
# IMPORTANT: If you need to add a package just for testing, please add it to
# test-requirements.txt instead.

[packages]
# IMPORTANT: We should try very hard *not* to add dependencies to Streamlit.
# And if you do add one, make the required version as general as possible.
altair = ">=3.2.0"
astor = "*"
attrs = "*"
base58 = "*"
blinker = "*"
cachetools = ">=4.0"
# Click 8.0 has a new incompatible API
click = ">=7.0, <8.0"
numpy = "*"
packaging = "*"
pandas = ">=0.21.0"
pillow = ">=6.2.0"
# protobuf version 3.11 is incompatible, see https://github.com/streamlit/streamlit/issues/2234
protobuf = ">=3.6.0, !=3.11"
# pyarrow does not yet support Python 3.9. Since pyarrow is only needed for
# Custom Components, make it an extra dependency for Python <3.9.
# We'll show an error if the user then tries to add a Custom Component.
# See: https://discuss.streamlit.io/t/note-installation-issues-with-python-3-9-and-streamlit/6946
pyarrow = {version = "*", markers = "python_version < '3.9'"}
pydeck = ">=0.1.dev5"
python-dateutil = "*"
requests = "*"
toml = "*"
# 5.0 has a fix for etag header: https://github.com/tornadoweb/tornado/issues/2262
tornado = ">=5.0"
tzlocal = "*"
validators = "*"
# Don't require watchdog on MacOS, since it'll fail without xcode tools.
# Without watchdog, we fallback to a polling file watcher to check for app changes.
watchdog = {version = "*", markers = "platform_system != 'Darwin'"}
gitpython = "*"
