[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mock = "*"
mypy = "==0.761"
mypy-protobuf = ">=1.17"
parameterized = "*"
pipenv = "*"
pytest = "*"
pytest-cov = "*"
requests-mock = "*"
testfixtures = "*"
twine = "*"
wheel = "*"
# Doc builder packages:
Sphinx = "==1.8.5"
recommonmark = "*"
sphinx-markdown-tables = "*"
sphinx-rtd-theme = "*"
# IMPORTANT: If you need to add a package just for testing, please add it to
# test-requirements.txt instead.

[packages]
# IMPORTANT: We should try very hard *not* to add dependencies to Streamlit.
# And if you do add one, make the required version as general as possible.
altair = ">=3.2.0"
astor = "*"
base58 = "*"
blinker = "*"
boto3 = "*"
botocore = ">=1.13.44"
cachetools = ">=4.0"
click = ">=7.0"
enum-compat = "*"
numpy = "*"
packaging = "*"
pandas = ">=0.21.0"
pillow = ">=6.2.0"
protobuf = ">=3.6.0"
pydeck = ">=0.1.dev5"
python-dateutil = "*"
requests = "*"
toml = "*"
# TODO: upgrade tornado to 6.x now that we don't have to support Python 2
tornado = ">=5.0,<6.0"
tzlocal = "*"
validators = "*"
watchdog = "*"
