# Packages used to test things users may do with Streamlit.
bokeh>=2.4.0
cffi>=1.14
chart-studio>=1.1.0
# 8.0.0 causes test_sqlalchemy_engine_2_oracle to fail.
cx-Oracle<8.0.0
graphviz>=0.17
keras<2.5.0
matplotlib>=3.4.3
mysqlclient>=2.0.2
opencv-python>=4.5
plotly>=5.3
prometheus-client>=0.11
psycopg2-binary>=2.8.5
pydot>=1.4
pyodbc>=4.0.28
seaborn>=0.11
setuptools<50.0.0
sqlalchemy>=1.4.23
# The > sign will skip rc versions.
tensorflow>2.2.0
torch<1.9.0
torchvision
watchdog==2.1.5
