.copy {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 3px 8px;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: 0.15s;
  z-index: 101;
}

.copy:hover {
  border-color: #f63366;
}

.copy:focus {
  box-shadow: 0 0 0 0.2rem rgba(118, 128, 150, 0.5);
  outline: none;
}
