html {
  color: #101620;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.6;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

header {
  padding: 1rem 0;
  color: #768096;
  font-size: 1rem;
}

header ul {
  padding: 0;
  margin: 0;
  display: block;
}

header li {
  list-style-type: none;
  padding: 0;
  margin: 0 1em 0 0;
  display: inline;
}

header li.logo {
  border-right: 1px solid #E6E9EF;
  padding: 0 1em 0 0;
}

footer {
  margin-top: 2rem;
  padding: 0.5rem;
  font-size: 0.75rem;
  color: #768096;
}

footer a,
footer a:visited {
  color: #768096;
  text-decoration: none;
}

footer a:active {
  color: #F63366;
}

footer a:hover {
  text-decoration: underline;
}

footer a:focus {
  outline: none;
  text-decoration: underline;
}


header .contents,
footer .contents,
main .contents {
  width: 40rem;
  max-width: 90vw;
  margin: 0 auto;
}

main {
  flex: 1;
  margin-top: 1rem;
}

header a,
header a:visited {
  color: #768096;
  text-decoration: none;
}

header a:hover {
  color: #F63366;
  text-decoration: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.row > * {
  flex: 1 1 0;
}
