.streamlit-container .doc-containter {
  background-color: #F0F3F9;
  padding: 0.5rem 1rem;
  font-family: 'IBM Plex Mono', monospace;
}

.streamlit-container .doc-header {
  margin-bottom: 0.5rem;
}

.streamlit-container .doc-module {
  color: #444444;
}

.streamlit-container .doc-name {
  font-weight: bold;
}

.streamlit-container .doc-containter .doc-string {
  white-space: pre-wrap;
  font-size: 0.8rem;
}
