
.printf-container .markdown-text-container code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
}

.printf-container .markdown-text-container pre {
  border: 1px solid #ccc;
}

.printf-container .markdown-text-container pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.printf-container .markdown-text-container pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.printf-container .markdown-text-container blockquote {
  color: #666;
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em #eee solid;
}

.printf-container .markdown-text-container tr {
  border-top: 1px solid #c6cbd1;
  background: #fff;
}

.printf-container .markdown-text-container th, td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.printf-container .markdown-text-container table tr:nth-child(2n) {
  background: #f6f8fa;
}

.printf-container .json-text-container span.error {
  padding: 0.2em 0.4em;
  margin: 0;
  background-color: #eee;
  border-radius: 3px;
}

.printf-container .json-text-container pre.error {
  padding: 5px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

