.navbar-brand {
  color: white;
}

.streamlit-container {
  margin-top: 80px;
}

.streamlit-container .element-container {
  display: inline-block;
  margin-bottom: 15px;
}

.streamlit-container .footer {
  height: 25px;
}
