@import "src/assets/css/variables";

.streamlit-expanderHeader {
  &:hover {
    svg {
      fill: $primary;
    }
  }
}

.streamlit-expander {
  &.empty {
    div[aria-expanded="true"] + .streamlit-expanderContent {
      color: $gray-dark;
      font-style: italic;
      font-size: $font-size-sm;
      text-align: center;
      padding-bottom: 1rem;
      padding-top: 1rem;

      &:before {
        content: "empty";
      }
    }
  }
}
