name: Pull Request Labels

on:
  pull_request:
    types: [opened, labeled, unlabeled, synchronize]

jobs:
  label:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: read

    steps:
      # v2=7b0461786d3bd0c6a8487e9b57814ba3e2c00227
      - uses: mheap/github-action-required-labels@422e4c352ef83db91089e6acfbf09d8725e08abc
        with:
          mode: exactly
          count: 1
          labels: "security-assessment-completed"
      - uses: mheap/github-action-required-labels@422e4c352ef83db91089e6acfbf09d8725e08abc
        with:
          mode: exactly
          count: 0
          labels: "do-not-merge"
