@import "src/assets/css/variables";

.instructions {
  .message:not(:first-child)::before {
    opacity: 1;
    content: "•";
    animation: none;
    color: $gray-600;
    margin: 0 5px 0 5px;
  }

  .counter {
    &.blink {
      color: $red;
      animation-name: blinker;
      animation-duration: 0.5s;
      animation-iteration-count: 5;
    }
  }
}

@keyframes blinker {
  50% {
    color: rgba(0, 0, 0, 0);
  }
}
