@import "src/assets/css/variables";

.instructions {
  .separator {
    margin: 0 5px 0 5px;
  }

  .counter {
    &.blink {
      color: $red;
      animation-name: blinker;
      animation-duration: 0.5s;
      animation-iteration-count: 5;
    }
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
