.icon {
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.25rem;
}

.icon-xs {
  width: 0.75rem;
  height: 0.75rem;
  font-size: 0.75rem;
}

.icon-md {
  width: 1.8rem;
  height: 1.8rem;
  font-size: 1.8rem;
}

.icon-lg {
  width: 2.3rem;
  height: 2.3rem;
  font-size: 2.3rem;
}
