// (Using a different license header format here because scss-to-json doesn't
// like multi-line comments)

$font-size-base: 16px;

// Overwrite other theme settings.
$border-radius: 0.25rem;
$border-radius-sm: 0.25rem;

// These variables are needed for reboot. We supply them from bootstrap's
// variable files
$small-font-size: 14px !default; // Same as fontSizeSmall in typography.ts
$sub-sup-font-size: 12px !default; // Same as fontSizeTwoSmall in typography.ts
$code-font-size: 0.75em !default;
$kbd-font-size: $small-font-size !default;
$enable-rounded: true !default;
$enable-button-pointers: true !default;
$legend-font-size: 1rem !default;
